.navbar {
  width: 100vw;
  height: 12vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

a {
  text-decoration: none;
}

.logo-img {
  height: 120px;
}
