.cart-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90vw;
  margin-top: 4vh;
  row-gap: 4vh;
  /* border: 1px solid rgba(240, 46, 170, 1); */
}
.cart-figure {
  display: none;
}
.inner-cart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80vw;
  margin: 0 auto;
  border: 1px solid rgba(240, 46, 170, 1);
  padding: 1.6vh 0;
  border-radius: 30px 30px;
}
.inner-cart > div {
  display: flex;
  flex-direction: row;
}

.item-qty-dlt {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  text-align: center;

  border: 1px solid rgba(240, 46, 170, 1);
  width: 100%;
  height: 80px;
  border-radius: 16px;
}

.item-qty-dlt:hover {
  box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px,
    rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px,
    rgba(240, 46, 170, 0.05) 25px 25px;
}

.qty-input {
  border: transparent;
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset,
    rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
  border-radius: 25px 25px;
}

.qty-input:focus {
  border: 5px solid rgba(240, 46, 170, 1);
  border-radius: 25px 25px;
}

.inner-cart > h4 {
  text-align: center;
}

.inner-cart > div {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.btn-link {
  display: flex;
  justify-content: flex-end;
  padding: 8px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: rgb(252, 77, 158);
  border: none;
  border-radius: 45px;
  box-shadow: 0px 15px 20px rgba(252, 77, 158, 0.5);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}
