.cart-div {
  width: 100vw;
}

.item-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.item-qty-dlt {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  text-align: center;

  border: 1px solid rgba(240, 46, 170, 1);
  width: 100%;
  height: 80px;
  border-radius: 16px;
}

.item-qty-dlt:hover {
  box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px,
    rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px,
    rgba(240, 46, 170, 0.05) 25px 25px;
}

.qty-input {
  width: 72%;
}
