.products-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100vw;
  background: linear-gradient(180deg, black, rgba(240, 46, 170, 1));
}

.products-div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.product-card {
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(240, 46, 170, 0.4);
  margin: 3rem 0;
  padding: 1rem;
  border-radius: 8px;
  align-items: center;
  max-width: 80vw;
  background: white;
  box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px,
    rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px,
    rgba(240, 46, 170, 0.05) 25px 25px;
}

.product-card > div {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.product-img {
  height: 240px;
}

/* .scroller {
  max-height: 30vw;
  overflow-y: scroll;
  border-color: 1px solid rgba(240, 46, 170, 0.4);
} */
