body {
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 100vw !important;
  background-color: black;
}

/*  Semantic UI OVerrides */

.ui.visible.scale.down.sidebar {
  background: rgba(240, 46, 170, 1);
}

.sidebar:nth-child(1n) {
  border: 1px solid white !important;
}
